			/* Credits to CodePen for the amazing base CSS*/
			
			@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);
			
			body{
				background: #FAFAFA;
				overflow-y: scroll;
			}
			
			h1{
				display: inline-block; 
				font-family: 'Arial Black', 'Helvetica' ,'sans serif';
				font-size: 30px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 26.39px;
				color: #000066;
			}
				
			p{
				font: serif;
				font-weight: bold;
			}
			
			#googleMap{
				width: 650px;
				height: 300px;
				float: left;
				outline:5px groove #00FFFF; /*Blue outline*/
				border: 5px solid #ccc;
			}
			
            /*The footer classes are here*/			
			.footerWrap {
				width:100%;
				position: fixed;
				bottom: 0px;
			}
			
			.footer {
				width:100%;
				margin: auto;
				margin-top:30px;
			}
			
			.footerContent {
				float:left;
				width:100%;
				background-color: #6666FF;
				padding:20px 0;
			}
			
			.footer p {float:left; width:100%; text-align:center; }
				
			.shine{
				text-shadow: 0px 0px 24px #fff;
				color: #A7A7A7; /*color of the shine, may need to modify to own needs */
			}
			
			/* Implementation for the godawful tabs starts here*/
			
			.wrap{ /* PASS */
				marin: 0 auto;	
			}
			
			/* The tabs above the information box*/
			ul.tabs {  /* PASS */
				width: 650px;
				height: 80px;
				margin: 0 auto;
				list-style: none;
				overflow: hidden;
				padding: 0;			
				float: right;
			}
			
			ul.tabs li {	/* This is the tabs itself. */
				float: left;
				width: 130px;	
			}
			
			ul.tabs li a {
				position: relative;
				display: block;
				height: 30px;
				margin-top: 40px;
				padding: 10px 0 0 0;
				font-family: 'Open Sans', sans-serif;
				font-size: 18px;
				text-align: center;	
				text-decoration: none;
				color: #ffffff;
				background: #6edeef;
				-webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
				   -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
						box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
							border: 0px solid #000000;
				-webkit-transition: padding 0.2s ease, margin 0.2s ease;
				   -moz-transition: padding 0.2s ease, margin 0.2s ease;
					 -o-transition: padding 0.2s ease, margin 0.2s ease;
					-ms-transition: padding 0.2s ease, margin 0.2s ease;
						transition: padding 0.2s ease, margin 0.2s ease;
			}
			
			.tabs li:first-child a {
				z-index: 3;
			  -webkit-border-top-left-radius: 8px;
			  -moz-border-radius-topleft: 8px;
			   border-top-left-radius: 8px;
			}
			
			.tabs li:nth-child(2) a {
				z-index: 2;
			}
			
			.tabs li:last-child a {
				z-index: 1;
			    -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
				-moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
			     box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
				-webkit-border-top-right-radius: 8px;
				-moz-border-radius-topright: 8px;
				border-top-right-radius: 8px;
			}
			
			ul.tabs li a:hover {
				margin: 35px 0 0 0;
				padding: 10px 0 5px 0;
			}
			
			ul.tabs li a.active {
				margin: 30px 0 0 0;
				padding: 10px 0 10px 0;
				background: #545f60;
				color: #6edeef;
				z-index: 4;
				outline: none;
			}
			
			.group:before,
			.group:after {
				content: " "; /* 1 */
				display: table; /* 2 */
			}
			
			.group:after {
				clear: both;
			}
			
			#content {
			  width: 650px;
			  height: 200px;
			  margin: 0 auto;
			  background: #545f60;
			  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
			  -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
			  box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
			  -webkit-border-bottom-right-radius: 8px;
			  -webkit-border-bottom-left-radius: 8px;
			  -moz-border-radius-bottomright: 8px;
			  -moz-border-radius-bottomleft: 8px;
			  border-bottom-right-radius: 8px;
			  border-bottom-left-radius: 8px;
			  float: right;
			}
			
			p{
			  font-family: 'Open Sans', sans-serif;
			  padding: 30px 30px;
			  color: #ffffff;
			  line-height: 26px;
			  font-size: 18px;
			  margin: 0;
			}
			
		
			#one {
			  z-index: 3;
			}
			
			#two {
			  z-index: 2;
			}
			
			#three {
			  z-index: 1;
			}
						
						
						
						
						